.btn{
  padding: 8px 20px;
  color: white;
  font-size: 15px;
  max-width: 160px;
  background-color: rgb(183, 97, 220);
  border-radius:  4px; 
  border: none;
  margin: 5px 15px;
  cursor: pointer;
}