
.alert_container{ 
  display: block;
  max-width: 720px;
  height:100%;
  width:100%;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  position: relative;  
}

.alert {
  text-align: center;
  padding: 8px 35px;
  font-size: small;
  display: block;
  border-radius: 6px;
  margin: 0 auto;
  -webkit-animation: cssAnimation 3s forwards; 
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;  
  background: #898989;
  color: #303030;
}

.alert.alert_default{  
  background: #c0d6f4;
  color: #183d71;
}

.alert.alert_info{  
  background: #c0f4d7;
  color: #2b5a3b;
}

.alert.alert_danger{  
  background: #f5dada;
  color: #531d1d;
}

.alert.alert_warning{  
  background: #f6f3c7;
  color: #433c12;
}

@keyframes cssAnimation {
  0%   {opacity: 1;}
  80%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  80%  {opacity: 1;}
  100% {opacity: 0;}
}